vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Jan 2012 19:55:34 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|walter-XP\\Administrador
vti_modifiedby:SR|XP\\Administrador
vti_timecreated:TR|12 May 2005 16:01:06 -0000
vti_backlinkinfo:VX|EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/node1.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/node2.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/series.html EcuacionesDiferenciales/EDO-Geo/bibliografia/index.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/index.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/footnode.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/node4.html EcuacionesDiferenciales/EDO-Geo/edo-cap6-geo/series/node3.html
vti_cacheddtm:TX|24 Jan 2012 19:55:34 -0000
vti_filesize:IR|891
